####################
# 
# {{ server_name_default }}
# http/{{ port_default }}
# 
# basically, just redirects to https
#
####################

server {
    listen {{ port_default }};
    listen [::]:{{ port_default }};
    server_name {{ server_name_default }};
    location / {
        return 301 https://{{ server_name_default }}$request_uri;
    }
}

server {
    listen {{ port_default }};
    listen [::]:{{ port_default }};
    server_name www.{{ server_name_default }};
    location / {
        return 301 https://www.{{ server_name_default }}$request_uri;
    }
}

server {
    listen {{ port_gitea }};
    listen [::]:{{ port_gitea }};
    server_name git.{{ server_name_default }};
    location / {
        return 301 https://git.{{ server_name_default }}$request_uri;
    }
}

server {
    listen {{ port_pages }};
    listen [::]:{{ port_pages }};
    server_name pages.{{ server_name_default }};
    location / {
        return 301 https://pages.{{ server_name_default }}$request_uri;
    }
}

server {
    listen {{ port_hooks }};
    listen [::]:{{ port_hooks }};
    server_name hooks.{{ server_name_default }};
    location / {
        return 301 https://hooks.{{ server_name_default }}$request_uri;
    }
}

server {
    listen {{ port_bots }};
    listen [::]:{{ port_bots }};
    server_name bots.{{ server_name_default }};
    location / {
        return 301 https://bots.{{ server_name_default }}$request_uri;
    }
}

### server {
###     listen {{ port_files }};
###     listen [::]:{{ port_files }};
###     server_name files.{{ server_name_default }};
###     location / {
###         return 301 https://files.{{ server_name_default }}$request_uri;
###     }
### }

